*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 800px;
}

.post{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    border: 2px solid green;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
.form{
    display: flexbox;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
.noAnyTodos{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}
