.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.coct{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  border:2px solid black;
}

.drinks{
  display: flex;
  background-color: rgb(4, 0, 255);
  justify-content: center;
  padding: 25px;
  /* width: 600px */
}

.appx{
  border: #222 solid 2px;
}